<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{views/common/head::statichead}"></head>





<body class="cbp-spmenu-push">
	<div class="main-content">
		<div th:insert="~{views/common/head::staticbar}"></div>
		<div th:insert="~{views/common/head::staticheadbar}"></div>


		<div id="page-wrapper" style="min-height: 904px;">
			<div class="main-page">

				<div class="row">
					<div class="form-three widget-shadow">
						<form class="form-horizontal" method="post" action="/api/goods/add" enctype="multipart/form-data">
							<input name="_csrf" type="hidden" th:value="${_csrf.token}" />
							<div class="form-group">
								<label for="focusedinput" class="col-sm-2 control-label">条形码</label>
								<div class="col-sm-8">
									<input type="text" class="form-control1" id="focusedinput" name="barcode" v-bind:value="message.barcode" readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label for="focusedinput" class="col-sm-2 control-label">图片</label>
								<div class="col-sm-8">
									<img style="width:40px" alt="无" v-bind:src="message.good_photo.length<16?'/none.jpg':'data:image/png;base64,'+message.good_photo" />
								</div>
							</div>

							<div class="form-group">
								<label for="focusedinput" class="col-sm-2 control-label">更换图片</label>
								<div class="col-sm-8">
									<input class="btn btn-primary btn-flat btn-pri" type="file" id="img"
										name="good_photo">
								</div>
							</div>

							<div class="form-group">
								<label for="inputPassword" class="col-sm-2 control-label">商品名字</label>
								<div class="col-sm-8">
									<input type="text" class="form-control1" id="inputPassword" name="goodname"
										v-bind:value="message.goodname">
								</div>
							</div>
							<button type="submit" name="modify" value="1" class="btn btn-success btn-flat btn-pri">
								<i class="fa fa-plus" aria-hidden="true"></i>
								修改
							</button>
						</form>
					</div>
				</div>

			</div>
		</div>
		<div th:insert="~{views/common/head::staticfooter}"></div>
	</div>
</body>
<script>
	var app = new Vue({
		el: '#page-wrapper',
		data: {
			message: [(${ data })]
		}
	})
</script>

</html>