<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{views/common/head::statichead}"></head>

<body class="cbp-spmenu-push">
	<div class="main-content">
		<div th:insert="~{views/common/head::staticbar}"></div>
		<div th:insert="~{views/common/head::staticheadbar}"></div>


		<div id="page-wrapper" style="min-height: 904px;">
			<div class="main-page">
				<div class="tables">
					<div class="table-responsive bs-example widget-shadow">

						<form class="form-inline">
							<a href="additem">
								<button type="button" class="btn btn-success btn-flat btn-pri">
									<i class="fa fa-plus" aria-hidden="true"></i>
									添加
								</button>
							</a>
							<div class="form-group">
								<!-- <label for="exampleInputName2">商品名</label> -->
								<input type="text" class="form-control" id="exampleInputName2" placeholder="商品名">
							</div>
							<button type="button" class="btn btn-info btn-flat btn-pri">
								<i class="fa fa-search" aria-hidden="true"></i>
								查询
							</button>

							<div class="form-group">
								<!-- <label for="exampleInputName2">条形码</label> -->
								<input type="text" class="form-control" id="exampleInputName2" placeholder="条形码">
							</div>
							<button type="button" class="btn btn-info btn-flat btn-pri">
								<i class="fa fa-search" aria-hidden="true"></i>
								查询
							</button>
						</form>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>条形码</th>
									<th>商品名</th>
									<th>日期</th>

									<th>出货单价</th>
									<th>进货单价</th>
									<th>数量</th>

									<th>客户</th>
									<th>负责人</th>
									<th>备注</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="item in message" :key="item.message">
									<td>
										<a v-bind:href="'../item/'+item.barcode">{{item.barcode}}</a>
									</td>
									<td>{{item.product_name}}</td>
									<td>{{item.date}}</td>
									<td>{{item.price_out}}</td>
									<td>{{item.price_in}}</td>
									<td>{{item.amount}}</td>
									<td><a href="#">{{item.customer}}</a></td>
									<td>{{item.operator}}</td>
									<td>{{item.comments}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div th:insert="~{views/common/head::staticfooter}"></div>
	</div>
</body>
<script>
	var app = new Vue({
		el: '#page-wrapper',
		data: {
			message: [(${ itemsJson })]
		}
	})
</script>

</html>